In [20]:
import os
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [21]:
filepath = os.getcwd() + '/datasets/'

读入CSV数据

In [22]:
dau = pd.read_csv(filepath + 'section7-dau.csv')
dau.head()

  region_month  region_day app_name   user_id device
0      2013-01  2013-01-01  game-02  10061580     FP
1      2013-01  2013-01-01  game-02  10154440     FP
2      2013-01  2013-01-01  game-02  10164762     SP
3      2013-01  2013-01-01  game-02  10165615     FP
4      2013-01  2013-01-01  game-02  10321356     FP

In [23]:
## MAU
mau = dau.drop_duplicates(subset=["region_month", "device", "user_id"], keep='first')
## FP MAU
fp_mau = dau.loc[dau['device'] == 'FP'].drop_duplicates(subset=["region_month", "device", "user_id"], keep='first')
## SP MAU
sp_mau = dau.loc[dau['device'] == 'SP'].drop_duplicates(subset=["region_month", "device", "user_id"], keep='first')

In [32]:
## 分布获取1月份和2月份的数据
fp_mau1 = fp_mau[fp_mau['region_month'] == '2013-01']
fp_mau2 = fp_mau[fp_mau['region_month'] == '2013-02']

sp_mau1 = sp_mau[sp_mau['region_month'] == '2013-01']
sp_mau2 = sp_mau[sp_mau['region_month'] == '2013-02']

In [33]:
## 1月份的非智能手机用户在2月份的访问情况
mau['is_access'] = 1
fp_mau1 = fp_mau1.merge(mau.loc[mau['region_month'] == '2013-02', ['user_id', 'is_access']], how='left', on='user_id')
fp_mau1['is_access'].fillna(0, inplace=True)
fp_mau1.head()

  region_month  region_day app_name   user_id device  is_access
0      2013-01  2013-01-01  game-02  10061580     FP        1.0
1      2013-01  2013-01-01  game-02  10154440     FP        0.0
2      2013-01  2013-01-01  game-02  10165615     FP        1.0
3      2013-01  2013-01-01  game-02  10321356     FP        1.0
4      2013-01  2013-01-01  game-02  10447112     FP        1.0

In [34]:
## 1月份访问过游戏的非智能手机用户在2月份是否继续通过非智能手机来访问的
fp_mau2['is_fp'] = 1
fp_mau1 = fp_mau1.merge(fp_mau2[['user_id', 'is_fp']], how='left', on='user_id')
fp_mau1['is_fp'].fillna(0, inplace=True)
fp_mau1.head()

  region_month  region_day app_name   user_id device  is_access  is_fp
0      2013-01  2013-01-01  game-02  10061580     FP        1.0    1.0
1      2013-01  2013-01-01  game-02  10154440     FP        0.0    0.0
2      2013-01  2013-01-01  game-02  10165615     FP        1.0    1.0
3      2013-01  2013-01-01  game-02  10321356     FP        1.0    1.0
4      2013-01  2013-01-01  game-02  10447112     FP        1.0    1.0

In [35]:
## 1月份访问过游戏的非智能手机用户在2月份是否通过智能手机来访问
sp_mau2['is_sp'] = 1
fp_mau1 = fp_mau1.merge(sp_mau2[['user_id', 'is_sp']], how='left', on='user_id')
fp_mau1['is_sp'].fillna(0, inplace=True)
fp_mau1.head()

  region_month  region_day app_name   user_id device  is_access  is_fp  is_sp
0      2013-01  2013-01-01  game-02  10061580     FP        1.0    1.0    0.0
1      2013-01  2013-01-01  game-02  10154440     FP        0.0    0.0    0.0
2      2013-01  2013-01-01  game-02  10165615     FP        1.0    1.0    0.0
3      2013-01  2013-01-01  game-02  10321356     FP        1.0    1.0    0.0
4      2013-01  2013-01-01  game-02  10447112     FP        1.0    1.0    0.0